// Exported by prism
// Original model type: POSMG
@type: POSMG
@parameters

@reward_models

@nr_states
245
@nr_choices
1050
@model
state 0 {0} <0>
	action l1 []
		120 : 1
	action r1 []
		125 : 0.1
		145 : 0.9
	action d1 []
		120 : 0.9
		145 : 0.1
	action u1 []
		120 : 0.1
		125 : 0.9
state 1 {0} <0>
	action l1 []
		121 : 1
	action r1 []
		126 : 0.1
		146 : 0.9
	action d1 []
		121 : 0.9
		146 : 0.1
	action u1 []
		121 : 0.1
		126 : 0.9
state 2 {0} <0> init
	action l1 []
		122 : 1
	action r1 []
		127 : 0.1
		147 : 0.9
	action d1 []
		122 : 0.9
		147 : 0.1
	action u1 []
		122 : 0.1
		127 : 0.9
state 3 {0} <0>
	action l1 []
		123 : 1
	action r1 []
		128 : 0.1
		148 : 0.9
	action d1 []
		123 : 0.9
		148 : 0.1
	action u1 []
		123 : 0.1
		128 : 0.9
state 4 {0} <0>
	action l1 []
		124 : 1
	action r1 []
		129 : 0.1
		149 : 0.9
	action d1 []
		124 : 0.9
		149 : 0.1
	action u1 []
		124 : 0.1
		129 : 0.9
state 5 {5} <0>
	action l1 []
		120 : 0.1
		125 : 0.9
	action r1 []
		130 : 0.1
		150 : 0.9
	action d1 []
		120 : 0.9
		150 : 0.1
	action u1 []
		125 : 0.1
		130 : 0.9
state 6 {5} <0>
	action l1 []
		121 : 0.1
		126 : 0.9
	action r1 []
		131 : 0.1
		151 : 0.9
	action d1 []
		121 : 0.9
		151 : 0.1
	action u1 []
		126 : 0.1
		131 : 0.9
state 7 {5} <0>
	action l1 []
		122 : 0.1
		127 : 0.9
	action r1 []
		132 : 0.1
		152 : 0.9
	action d1 []
		122 : 0.9
		152 : 0.1
	action u1 []
		127 : 0.1
		132 : 0.9
state 8 {5} <0>
	action l1 []
		123 : 0.1
		128 : 0.9
	action r1 []
		133 : 0.1
		153 : 0.9
	action d1 []
		123 : 0.9
		153 : 0.1
	action u1 []
		128 : 0.1
		133 : 0.9
state 9 {5} <0>
	action l1 []
		124 : 0.1
		129 : 0.9
	action r1 []
		134 : 0.1
		154 : 0.9
	action d1 []
		124 : 0.9
		154 : 0.1
	action u1 []
		129 : 0.1
		134 : 0.9
state 10 {15} <0> deadlock
	action __NOLABEL__ []
		10 : 1
state 11 {14} <0>
	action l1 []
		126 : 0.1
		131 : 0.9
	action r1 []
		136 : 0.1
		156 : 0.9
	action d1 []
		126 : 0.9
		156 : 0.1
	action u1 []
		131 : 0.1
		136 : 0.9
state 12 {14} <0>
	action l1 []
		127 : 0.1
		132 : 0.9
	action r1 []
		137 : 0.1
		157 : 0.9
	action d1 []
		127 : 0.9
		157 : 0.1
	action u1 []
		132 : 0.1
		137 : 0.9
state 13 {14} <0>
	action l1 []
		128 : 0.1
		133 : 0.9
	action r1 []
		138 : 0.1
		158 : 0.9
	action d1 []
		128 : 0.9
		158 : 0.1
	action u1 []
		133 : 0.1
		138 : 0.9
state 14 {14} <0>
	action l1 []
		129 : 0.1
		134 : 0.9
	action r1 []
		139 : 0.1
		159 : 0.9
	action d1 []
		129 : 0.9
		159 : 0.1
	action u1 []
		134 : 0.1
		139 : 0.9
state 15 {23} <0>
	action l1 []
		130 : 0.1
		135 : 0.9
	action r1 []
		140 : 0.1
		160 : 0.9
	action d1 []
		130 : 0.9
		160 : 0.1
	action u1 []
		135 : 0.1
		140 : 0.9
state 16 {23} <0>
	action l1 []
		131 : 0.1
		136 : 0.9
	action r1 []
		141 : 0.1
		161 : 0.9
	action d1 []
		131 : 0.9
		161 : 0.1
	action u1 []
		136 : 0.1
		141 : 0.9
state 17 {23} <0>
	action l1 []
		132 : 0.1
		137 : 0.9
	action r1 []
		142 : 0.1
		162 : 0.9
	action d1 []
		132 : 0.9
		162 : 0.1
	action u1 []
		137 : 0.1
		142 : 0.9
state 18 {23} <0>
	action l1 []
		133 : 0.1
		138 : 0.9
	action r1 []
		143 : 0.1
		163 : 0.9
	action d1 []
		133 : 0.9
		163 : 0.1
	action u1 []
		138 : 0.1
		143 : 0.9
state 19 {23} <0>
	action l1 []
		134 : 0.1
		139 : 0.9
	action r1 []
		144 : 0.1
		164 : 0.9
	action d1 []
		134 : 0.9
		164 : 0.1
	action u1 []
		139 : 0.1
		144 : 0.9
state 20 {35} <0>
	action l1 []
		135 : 0.1
		140 : 0.9
	action r1 []
		140 : 0.1
		165 : 0.9
	action d1 []
		135 : 0.9
		165 : 0.1
	action u1 []
		140 : 1
state 21 {35} <0>
	action l1 []
		136 : 0.1
		141 : 0.9
	action r1 []
		141 : 0.1
		166 : 0.9
	action d1 []
		136 : 0.9
		166 : 0.1
	action u1 []
		141 : 1
state 22 {35} <0>
	action l1 []
		137 : 0.1
		142 : 0.9
	action r1 []
		142 : 0.1
		167 : 0.9
	action d1 []
		137 : 0.9
		167 : 0.1
	action u1 []
		142 : 1
state 23 {35} <0>
	action l1 []
		138 : 0.1
		143 : 0.9
	action r1 []
		143 : 0.1
		168 : 0.9
	action d1 []
		138 : 0.9
		168 : 0.1
	action u1 []
		143 : 1
state 24 {35} <0>
	action l1 []
		139 : 0.1
		144 : 0.9
	action r1 []
		144 : 0.1
		169 : 0.9
	action d1 []
		139 : 0.9
		169 : 0.1
	action u1 []
		144 : 1
state 25 {4} <0>
	action l1 []
		120 : 0.9
		145 : 0.1
	action r1 []
		150 : 0.1
		170 : 0.9
	action d1 []
		145 : 0.9
		170 : 0.1
	action u1 []
		120 : 0.1
		150 : 0.9
state 26 {4} <0>
	action l1 []
		121 : 0.9
		146 : 0.1
	action r1 []
		151 : 0.1
		171 : 0.9
	action d1 []
		146 : 0.9
		171 : 0.1
	action u1 []
		121 : 0.1
		151 : 0.9
state 27 {4} <0>
	action l1 []
		122 : 0.9
		147 : 0.1
	action r1 []
		152 : 0.1
		172 : 0.9
	action d1 []
		147 : 0.9
		172 : 0.1
	action u1 []
		122 : 0.1
		152 : 0.9
state 28 {4} <0>
	action l1 []
		123 : 0.9
		148 : 0.1
	action r1 []
		153 : 0.1
		173 : 0.9
	action d1 []
		148 : 0.9
		173 : 0.1
	action u1 []
		123 : 0.1
		153 : 0.9
state 29 {4} <0>
	action l1 []
		124 : 0.9
		149 : 0.1
	action r1 []
		154 : 0.1
		174 : 0.9
	action d1 []
		149 : 0.9
		174 : 0.1
	action u1 []
		124 : 0.1
		154 : 0.9
state 30 {13} <0>
	action l1 []
		125 : 0.9
		145 : 0.1
	action r1 []
		155 : 0.1
		175 : 0.9
	action d1 []
		145 : 0.9
		175 : 0.1
	action u1 []
		125 : 0.1
		155 : 0.9
state 31 {13} <0>
	action l1 []
		126 : 0.9
		146 : 0.1
	action r1 []
		156 : 0.1
		176 : 0.9
	action d1 []
		146 : 0.9
		176 : 0.1
	action u1 []
		126 : 0.1
		156 : 0.9
state 32 {13} <0>
	action l1 []
		127 : 0.9
		147 : 0.1
	action r1 []
		157 : 0.1
		177 : 0.9
	action d1 []
		147 : 0.9
		177 : 0.1
	action u1 []
		127 : 0.1
		157 : 0.9
state 33 {13} <0>
	action l1 []
		128 : 0.9
		148 : 0.1
	action r1 []
		158 : 0.1
		178 : 0.9
	action d1 []
		148 : 0.9
		178 : 0.1
	action u1 []
		128 : 0.1
		158 : 0.9
state 34 {13} <0>
	action l1 []
		129 : 0.9
		149 : 0.1
	action r1 []
		159 : 0.1
		179 : 0.9
	action d1 []
		149 : 0.9
		179 : 0.1
	action u1 []
		129 : 0.1
		159 : 0.9
state 35 {22} <0>
	action l1 []
		130 : 0.9
		150 : 0.1
	action r1 []
		160 : 0.1
		180 : 0.9
	action d1 []
		150 : 0.9
		180 : 0.1
	action u1 []
		130 : 0.1
		160 : 0.9
state 36 {22} <0>
	action l1 []
		131 : 0.9
		151 : 0.1
	action r1 []
		161 : 0.1
		181 : 0.9
	action d1 []
		151 : 0.9
		181 : 0.1
	action u1 []
		131 : 0.1
		161 : 0.9
state 37 {22} <0>
	action l1 []
		132 : 0.9
		152 : 0.1
	action r1 []
		162 : 0.1
		182 : 0.9
	action d1 []
		152 : 0.9
		182 : 0.1
	action u1 []
		132 : 0.1
		162 : 0.9
state 38 {22} <0>
	action l1 []
		133 : 0.9
		153 : 0.1
	action r1 []
		163 : 0.1
		183 : 0.9
	action d1 []
		153 : 0.9
		183 : 0.1
	action u1 []
		133 : 0.1
		163 : 0.9
state 39 {22} <0>
	action l1 []
		134 : 0.9
		154 : 0.1
	action r1 []
		164 : 0.1
		184 : 0.9
	action d1 []
		154 : 0.9
		184 : 0.1
	action u1 []
		134 : 0.1
		164 : 0.9
state 40 {34} <0>
	action l1 []
		135 : 0.9
		155 : 0.1
	action r1 []
		165 : 0.1
		185 : 0.9
	action d1 []
		155 : 0.9
		185 : 0.1
	action u1 []
		135 : 0.1
		165 : 0.9
state 41 {34} <0>
	action l1 []
		136 : 0.9
		156 : 0.1
	action r1 []
		166 : 0.1
		186 : 0.9
	action d1 []
		156 : 0.9
		186 : 0.1
	action u1 []
		136 : 0.1
		166 : 0.9
state 42 {34} <0>
	action l1 []
		137 : 0.9
		157 : 0.1
	action r1 []
		167 : 0.1
		187 : 0.9
	action d1 []
		157 : 0.9
		187 : 0.1
	action u1 []
		137 : 0.1
		167 : 0.9
state 43 {34} <0>
	action l1 []
		138 : 0.9
		158 : 0.1
	action r1 []
		168 : 0.1
		188 : 0.9
	action d1 []
		158 : 0.9
		188 : 0.1
	action u1 []
		138 : 0.1
		168 : 0.9
state 44 {34} <0>
	action l1 []
		139 : 0.9
		159 : 0.1
	action r1 []
		169 : 0.1
		189 : 0.9
	action d1 []
		159 : 0.9
		189 : 0.1
	action u1 []
		139 : 0.1
		169 : 0.9
state 45 {43} <0>
	action l1 []
		140 : 0.9
		160 : 0.1
	action r1 []
		165 : 0.1
		190 : 0.9
	action d1 []
		160 : 0.9
		190 : 0.1
	action u1 []
		140 : 0.1
		165 : 0.9
state 46 {43} <0>
	action l1 []
		141 : 0.9
		161 : 0.1
	action r1 []
		166 : 0.1
		191 : 0.9
	action d1 []
		161 : 0.9
		191 : 0.1
	action u1 []
		141 : 0.1
		166 : 0.9
state 47 {43} <0>
	action l1 []
		142 : 0.9
		162 : 0.1
	action r1 []
		167 : 0.1
		192 : 0.9
	action d1 []
		162 : 0.9
		192 : 0.1
	action u1 []
		142 : 0.1
		167 : 0.9
state 48 {43} <0>
	action l1 []
		143 : 0.9
		163 : 0.1
	action r1 []
		168 : 0.1
		193 : 0.9
	action d1 []
		163 : 0.9
		193 : 0.1
	action u1 []
		143 : 0.1
		168 : 0.9
state 49 {43} <0>
	action l1 []
		144 : 0.9
		164 : 0.1
	action r1 []
		169 : 0.1
		194 : 0.9
	action d1 []
		164 : 0.9
		194 : 0.1
	action u1 []
		144 : 0.1
		169 : 0.9
state 50 {11} <0>
	action l1 []
		145 : 0.9
		170 : 0.1
	action r1 []
		175 : 0.1
		195 : 0.9
	action d1 []
		170 : 0.9
		195 : 0.1
	action u1 []
		145 : 0.1
		175 : 0.9
state 51 {12} <0> deadlock
	action __NOLABEL__ []
		51 : 1
state 52 {11} <0>
	action l1 []
		147 : 0.9
		172 : 0.1
	action r1 []
		177 : 0.1
		197 : 0.9
	action d1 []
		172 : 0.9
		197 : 0.1
	action u1 []
		147 : 0.1
		177 : 0.9
state 53 {11} <0>
	action l1 []
		148 : 0.9
		173 : 0.1
	action r1 []
		178 : 0.1
		198 : 0.9
	action d1 []
		173 : 0.9
		198 : 0.1
	action u1 []
		148 : 0.1
		178 : 0.9
state 54 {11} <0>
	action l1 []
		149 : 0.9
		174 : 0.1
	action r1 []
		179 : 0.1
		199 : 0.9
	action d1 []
		174 : 0.9
		199 : 0.1
	action u1 []
		149 : 0.1
		179 : 0.9
state 55 {21} <0>
	action l1 []
		150 : 0.9
		170 : 0.1
	action r1 []
		180 : 0.1
		200 : 0.9
	action d1 []
		170 : 0.9
		200 : 0.1
	action u1 []
		150 : 0.1
		180 : 0.9
state 56 {21} <0>
	action l1 []
		151 : 0.9
		171 : 0.1
	action r1 []
		181 : 0.1
		201 : 0.9
	action d1 []
		171 : 0.9
		201 : 0.1
	action u1 []
		151 : 0.1
		181 : 0.9
state 57 {21} <0>
	action l1 []
		152 : 0.9
		172 : 0.1
	action r1 []
		182 : 0.1
		202 : 0.9
	action d1 []
		172 : 0.9
		202 : 0.1
	action u1 []
		152 : 0.1
		182 : 0.9
state 58 {21} <0>
	action l1 []
		153 : 0.9
		173 : 0.1
	action r1 []
		183 : 0.1
		203 : 0.9
	action d1 []
		173 : 0.9
		203 : 0.1
	action u1 []
		153 : 0.1
		183 : 0.9
state 59 {21} <0>
	action l1 []
		154 : 0.9
		174 : 0.1
	action r1 []
		184 : 0.1
		204 : 0.9
	action d1 []
		174 : 0.9
		204 : 0.1
	action u1 []
		154 : 0.1
		184 : 0.9
state 60 {33} <0>
	action l1 []
		155 : 0.9
		175 : 0.1
	action r1 []
		185 : 0.1
		205 : 0.9
	action d1 []
		175 : 0.9
		205 : 0.1
	action u1 []
		155 : 0.1
		185 : 0.9
state 61 {33} <0>
	action l1 []
		156 : 0.9
		176 : 0.1
	action r1 []
		186 : 0.1
		206 : 0.9
	action d1 []
		176 : 0.9
		206 : 0.1
	action u1 []
		156 : 0.1
		186 : 0.9
state 62 {32} <0> deadlock
	action __NOLABEL__ []
		62 : 1
state 63 {33} <0>
	action l1 []
		158 : 0.9
		178 : 0.1
	action r1 []
		188 : 0.1
		208 : 0.9
	action d1 []
		178 : 0.9
		208 : 0.1
	action u1 []
		158 : 0.1
		188 : 0.9
state 64 {33} <0>
	action l1 []
		159 : 0.9
		179 : 0.1
	action r1 []
		189 : 0.1
		209 : 0.9
	action d1 []
		179 : 0.9
		209 : 0.1
	action u1 []
		159 : 0.1
		189 : 0.9
state 65 {42} <0>
	action l1 []
		160 : 0.9
		180 : 0.1
	action r1 []
		190 : 0.1
		210 : 0.9
	action d1 []
		180 : 0.9
		210 : 0.1
	action u1 []
		160 : 0.1
		190 : 0.9
state 66 {42} <0>
	action l1 []
		161 : 0.9
		181 : 0.1
	action r1 []
		191 : 0.1
		211 : 0.9
	action d1 []
		181 : 0.9
		211 : 0.1
	action u1 []
		161 : 0.1
		191 : 0.9
state 67 {42} <0>
	action l1 []
		162 : 0.9
		182 : 0.1
	action r1 []
		192 : 0.1
		212 : 0.9
	action d1 []
		182 : 0.9
		212 : 0.1
	action u1 []
		162 : 0.1
		192 : 0.9
state 68 {42} <0>
	action l1 []
		163 : 0.9
		183 : 0.1
	action r1 []
		193 : 0.1
		213 : 0.9
	action d1 []
		183 : 0.9
		213 : 0.1
	action u1 []
		163 : 0.1
		193 : 0.9
state 69 {42} <0>
	action l1 []
		164 : 0.9
		184 : 0.1
	action r1 []
		194 : 0.1
		214 : 0.9
	action d1 []
		184 : 0.9
		214 : 0.1
	action u1 []
		164 : 0.1
		194 : 0.9
state 70 {52} <0>
	action l1 []
		165 : 0.9
		185 : 0.1
	action r1 []
		190 : 0.1
		215 : 0.9
	action d1 []
		185 : 0.9
		215 : 0.1
	action u1 []
		165 : 0.1
		190 : 0.9
state 71 {52} <0>
	action l1 []
		166 : 0.9
		186 : 0.1
	action r1 []
		191 : 0.1
		216 : 0.9
	action d1 []
		186 : 0.9
		216 : 0.1
	action u1 []
		166 : 0.1
		191 : 0.9
state 72 {52} <0>
	action l1 []
		167 : 0.9
		187 : 0.1
	action r1 []
		192 : 0.1
		217 : 0.9
	action d1 []
		187 : 0.9
		217 : 0.1
	action u1 []
		167 : 0.1
		192 : 0.9
state 73 {53} <0> deadlock
	action __NOLABEL__ []
		73 : 1
state 74 {52} <0>
	action l1 []
		169 : 0.9
		189 : 0.1
	action r1 []
		194 : 0.1
		219 : 0.9
	action d1 []
		189 : 0.9
		219 : 0.1
	action u1 []
		169 : 0.1
		194 : 0.9
state 75 {20} <0>
	action l1 []
		170 : 0.9
		195 : 0.1
	action r1 []
		200 : 0.1
		220 : 0.9
	action d1 []
		195 : 0.9
		220 : 0.1
	action u1 []
		170 : 0.1
		200 : 0.9
state 76 {20} <0>
	action l1 []
		171 : 0.9
		196 : 0.1
	action r1 []
		201 : 0.1
		221 : 0.9
	action d1 []
		196 : 0.9
		221 : 0.1
	action u1 []
		171 : 0.1
		201 : 0.9
state 77 {20} <0>
	action l1 []
		172 : 0.9
		197 : 0.1
	action r1 []
		202 : 0.1
		222 : 0.9
	action d1 []
		197 : 0.9
		222 : 0.1
	action u1 []
		172 : 0.1
		202 : 0.9
state 78 {20} <0>
	action l1 []
		173 : 0.9
		198 : 0.1
	action r1 []
		203 : 0.1
		223 : 0.9
	action d1 []
		198 : 0.9
		223 : 0.1
	action u1 []
		173 : 0.1
		203 : 0.9
state 79 {20} <0>
	action l1 []
		174 : 0.9
		199 : 0.1
	action r1 []
		204 : 0.1
		224 : 0.9
	action d1 []
		199 : 0.9
		224 : 0.1
	action u1 []
		174 : 0.1
		204 : 0.9
state 80 {31} <0>
	action l1 []
		175 : 0.9
		195 : 0.1
	action r1 []
		205 : 0.1
		225 : 0.9
	action d1 []
		195 : 0.9
		225 : 0.1
	action u1 []
		175 : 0.1
		205 : 0.9
state 81 {31} <0>
	action l1 []
		176 : 0.9
		196 : 0.1
	action r1 []
		206 : 0.1
		226 : 0.9
	action d1 []
		196 : 0.9
		226 : 0.1
	action u1 []
		176 : 0.1
		206 : 0.9
state 82 {31} <0>
	action l1 []
		177 : 0.9
		197 : 0.1
	action r1 []
		207 : 0.1
		227 : 0.9
	action d1 []
		197 : 0.9
		227 : 0.1
	action u1 []
		177 : 0.1
		207 : 0.9
state 83 {31} <0>
	action l1 []
		178 : 0.9
		198 : 0.1
	action r1 []
		208 : 0.1
		228 : 0.9
	action d1 []
		198 : 0.9
		228 : 0.1
	action u1 []
		178 : 0.1
		208 : 0.9
state 84 {31} <0>
	action l1 []
		179 : 0.9
		199 : 0.1
	action r1 []
		209 : 0.1
		229 : 0.9
	action d1 []
		199 : 0.9
		229 : 0.1
	action u1 []
		179 : 0.1
		209 : 0.9
state 85 {41} <0>
	action l1 []
		180 : 0.9
		200 : 0.1
	action r1 []
		210 : 0.1
		230 : 0.9
	action d1 []
		200 : 0.9
		230 : 0.1
	action u1 []
		180 : 0.1
		210 : 0.9
state 86 {41} <0>
	action l1 []
		181 : 0.9
		201 : 0.1
	action r1 []
		211 : 0.1
		231 : 0.9
	action d1 []
		201 : 0.9
		231 : 0.1
	action u1 []
		181 : 0.1
		211 : 0.9
state 87 {41} <0>
	action l1 []
		182 : 0.9
		202 : 0.1
	action r1 []
		212 : 0.1
		232 : 0.9
	action d1 []
		202 : 0.9
		232 : 0.1
	action u1 []
		182 : 0.1
		212 : 0.9
state 88 {41} <0>
	action l1 []
		183 : 0.9
		203 : 0.1
	action r1 []
		213 : 0.1
		233 : 0.9
	action d1 []
		203 : 0.9
		233 : 0.1
	action u1 []
		183 : 0.1
		213 : 0.9
state 89 {41} <0>
	action l1 []
		184 : 0.9
		204 : 0.1
	action r1 []
		214 : 0.1
		234 : 0.9
	action d1 []
		204 : 0.9
		234 : 0.1
	action u1 []
		184 : 0.1
		214 : 0.9
state 90 {51} <0>
	action l1 []
		185 : 0.9
		205 : 0.1
	action r1 []
		215 : 0.1
		235 : 0.9
	action d1 []
		205 : 0.9
		235 : 0.1
	action u1 []
		185 : 0.1
		215 : 0.9
state 91 {51} <0>
	action l1 []
		186 : 0.9
		206 : 0.1
	action r1 []
		216 : 0.1
		236 : 0.9
	action d1 []
		206 : 0.9
		236 : 0.1
	action u1 []
		186 : 0.1
		216 : 0.9
state 92 {51} <0>
	action l1 []
		187 : 0.9
		207 : 0.1
	action r1 []
		217 : 0.1
		237 : 0.9
	action d1 []
		207 : 0.9
		237 : 0.1
	action u1 []
		187 : 0.1
		217 : 0.9
state 93 {51} <0>
	action l1 []
		188 : 0.9
		208 : 0.1
	action r1 []
		218 : 0.1
		238 : 0.9
	action d1 []
		208 : 0.9
		238 : 0.1
	action u1 []
		188 : 0.1
		218 : 0.9
state 94 {51} <0>
	action l1 []
		189 : 0.9
		209 : 0.1
	action r1 []
		219 : 0.1
		239 : 0.9
	action d1 []
		209 : 0.9
		239 : 0.1
	action u1 []
		189 : 0.1
		219 : 0.9
state 95 {57} <0>
	action l1 []
		190 : 0.9
		210 : 0.1
	action r1 []
		215 : 0.1
		240 : 0.9
	action d1 []
		210 : 0.9
		240 : 0.1
	action u1 []
		190 : 0.1
		215 : 0.9
state 96 {57} <0>
	action l1 []
		191 : 0.9
		211 : 0.1
	action r1 []
		216 : 0.1
		241 : 0.9
	action d1 []
		211 : 0.9
		241 : 0.1
	action u1 []
		191 : 0.1
		216 : 0.9
state 97 {57} <0>
	action l1 []
		192 : 0.9
		212 : 0.1
	action r1 []
		217 : 0.1
		242 : 0.9
	action d1 []
		212 : 0.9
		242 : 0.1
	action u1 []
		192 : 0.1
		217 : 0.9
state 98 {57} <0>
	action l1 []
		193 : 0.9
		213 : 0.1
	action r1 []
		218 : 0.1
		243 : 0.9
	action d1 []
		213 : 0.9
		243 : 0.1
	action u1 []
		193 : 0.1
		218 : 0.9
state 99 {57} <0>
	action l1 []
		194 : 0.9
		214 : 0.1
	action r1 []
		219 : 0.1
		244 : 0.9
	action d1 []
		214 : 0.9
		244 : 0.1
	action u1 []
		194 : 0.1
		219 : 0.9
state 100 {30} <0>
	action l1 []
		195 : 0.9
		220 : 0.1
	action r1 []
		220 : 0.9
		225 : 0.1
	action d1 []
		220 : 1
	action u1 []
		195 : 0.1
		225 : 0.9
state 101 {30} <0>
	action l1 []
		196 : 0.9
		221 : 0.1
	action r1 []
		221 : 0.9
		226 : 0.1
	action d1 []
		221 : 1
	action u1 []
		196 : 0.1
		226 : 0.9
state 102 {30} <0>
	action l1 []
		197 : 0.9
		222 : 0.1
	action r1 []
		222 : 0.9
		227 : 0.1
	action d1 []
		222 : 1
	action u1 []
		197 : 0.1
		227 : 0.9
state 103 {30} <0>
	action l1 []
		198 : 0.9
		223 : 0.1
	action r1 []
		223 : 0.9
		228 : 0.1
	action d1 []
		223 : 1
	action u1 []
		198 : 0.1
		228 : 0.9
state 104 {30} <0>
	action l1 []
		199 : 0.9
		224 : 0.1
	action r1 []
		224 : 0.9
		229 : 0.1
	action d1 []
		224 : 1
	action u1 []
		199 : 0.1
		229 : 0.9
state 105 {40} <0>
	action l1 []
		200 : 0.9
		220 : 0.1
	action r1 []
		225 : 0.9
		230 : 0.1
	action d1 []
		220 : 0.9
		225 : 0.1
	action u1 []
		200 : 0.1
		230 : 0.9
state 106 {40} <0>
	action l1 []
		201 : 0.9
		221 : 0.1
	action r1 []
		226 : 0.9
		231 : 0.1
	action d1 []
		221 : 0.9
		226 : 0.1
	action u1 []
		201 : 0.1
		231 : 0.9
state 107 {40} <0>
	action l1 []
		202 : 0.9
		222 : 0.1
	action r1 []
		227 : 0.9
		232 : 0.1
	action d1 []
		222 : 0.9
		227 : 0.1
	action u1 []
		202 : 0.1
		232 : 0.9
state 108 {40} <0>
	action l1 []
		203 : 0.9
		223 : 0.1
	action r1 []
		228 : 0.9
		233 : 0.1
	action d1 []
		223 : 0.9
		228 : 0.1
	action u1 []
		203 : 0.1
		233 : 0.9
state 109 {40} <0>
	action l1 []
		204 : 0.9
		224 : 0.1
	action r1 []
		229 : 0.9
		234 : 0.1
	action d1 []
		224 : 0.9
		229 : 0.1
	action u1 []
		204 : 0.1
		234 : 0.9
state 110 {49} <0>
	action l1 []
		205 : 0.9
		225 : 0.1
	action r1 []
		230 : 0.9
		235 : 0.1
	action d1 []
		225 : 0.9
		230 : 0.1
	action u1 []
		205 : 0.1
		235 : 0.9
state 111 {49} <0>
	action l1 []
		206 : 0.9
		226 : 0.1
	action r1 []
		231 : 0.9
		236 : 0.1
	action d1 []
		226 : 0.9
		231 : 0.1
	action u1 []
		206 : 0.1
		236 : 0.9
state 112 {49} <0>
	action l1 []
		207 : 0.9
		227 : 0.1
	action r1 []
		232 : 0.9
		237 : 0.1
	action d1 []
		227 : 0.9
		232 : 0.1
	action u1 []
		207 : 0.1
		237 : 0.9
state 113 {49} <0>
	action l1 []
		208 : 0.9
		228 : 0.1
	action r1 []
		233 : 0.9
		238 : 0.1
	action d1 []
		228 : 0.9
		233 : 0.1
	action u1 []
		208 : 0.1
		238 : 0.9
state 114 {50} <0> deadlock
	action __NOLABEL__ []
		114 : 1
state 115 {56} <0>
	action l1 []
		210 : 0.9
		230 : 0.1
	action r1 []
		235 : 0.9
		240 : 0.1
	action d1 []
		230 : 0.9
		235 : 0.1
	action u1 []
		210 : 0.1
		240 : 0.9
state 116 {56} <0>
	action l1 []
		211 : 0.9
		231 : 0.1
	action r1 []
		236 : 0.9
		241 : 0.1
	action d1 []
		231 : 0.9
		236 : 0.1
	action u1 []
		211 : 0.1
		241 : 0.9
state 117 {56} <0>
	action l1 []
		212 : 0.9
		232 : 0.1
	action r1 []
		237 : 0.9
		242 : 0.1
	action d1 []
		232 : 0.9
		237 : 0.1
	action u1 []
		212 : 0.1
		242 : 0.9
state 118 {56} <0>
	action l1 []
		213 : 0.9
		233 : 0.1
	action r1 []
		238 : 0.9
		243 : 0.1
	action d1 []
		233 : 0.9
		238 : 0.1
	action u1 []
		213 : 0.1
		243 : 0.9
state 119 {56} <0>
	action l1 []
		214 : 0.9
		234 : 0.1
	action r1 []
		239 : 0.9
		244 : 0.1
	action d1 []
		234 : 0.9
		239 : 0.1
	action u1 []
		214 : 0.1
		244 : 0.9
state 120 {1} <1>
	action center []
		2 : 1
	action up []
		3 : 1
	action right []
		0 : 1
	action left []
		4 : 1
	action down []
		1 : 1
state 121 {1} <1>
	action center []
		2 : 1
	action up []
		3 : 1
	action right []
		0 : 1
	action left []
		4 : 1
	action down []
		1 : 1
state 122 {1} <1>
	action center []
		2 : 1
	action up []
		3 : 1
	action right []
		0 : 1
	action left []
		4 : 1
	action down []
		1 : 1
state 123 {1} <1>
	action center []
		2 : 1
	action up []
		3 : 1
	action right []
		0 : 1
	action left []
		4 : 1
	action down []
		1 : 1
state 124 {1} <1>
	action center []
		2 : 1
	action up []
		3 : 1
	action right []
		0 : 1
	action left []
		4 : 1
	action down []
		1 : 1
state 125 {3} <1>
	action center []
		7 : 1
	action up []
		8 : 1
	action right []
		5 : 1
	action left []
		9 : 1
	action down []
		6 : 1
state 126 {3} <1>
	action center []
		7 : 1
	action up []
		8 : 1
	action right []
		5 : 1
	action left []
		9 : 1
	action down []
		6 : 1
state 127 {3} <1>
	action center []
		7 : 1
	action up []
		8 : 1
	action right []
		5 : 1
	action left []
		9 : 1
	action down []
		6 : 1
state 128 {3} <1>
	action center []
		7 : 1
	action up []
		8 : 1
	action right []
		5 : 1
	action left []
		9 : 1
	action down []
		6 : 1
state 129 {3} <1>
	action center []
		7 : 1
	action up []
		8 : 1
	action right []
		5 : 1
	action left []
		9 : 1
	action down []
		6 : 1
state 130 {10} <0> deadlock
	action __NOLABEL__ []
		130 : 1
state 131 {9} <1>
	action center []
		12 : 1
	action up []
		13 : 1
	action right []
		10 : 1
	action left []
		14 : 1
	action down []
		11 : 1
state 132 {9} <1>
	action center []
		12 : 1
	action up []
		13 : 1
	action right []
		10 : 1
	action left []
		14 : 1
	action down []
		11 : 1
state 133 {9} <1>
	action center []
		12 : 1
	action up []
		13 : 1
	action right []
		10 : 1
	action left []
		14 : 1
	action down []
		11 : 1
state 134 {9} <1>
	action center []
		12 : 1
	action up []
		13 : 1
	action right []
		10 : 1
	action left []
		14 : 1
	action down []
		11 : 1
state 135 {19} <1>
	action center []
		17 : 1
	action up []
		18 : 1
	action right []
		15 : 1
	action left []
		19 : 1
	action down []
		16 : 1
state 136 {19} <1>
	action center []
		17 : 1
	action up []
		18 : 1
	action right []
		15 : 1
	action left []
		19 : 1
	action down []
		16 : 1
state 137 {19} <1>
	action center []
		17 : 1
	action up []
		18 : 1
	action right []
		15 : 1
	action left []
		19 : 1
	action down []
		16 : 1
state 138 {19} <1>
	action center []
		17 : 1
	action up []
		18 : 1
	action right []
		15 : 1
	action left []
		19 : 1
	action down []
		16 : 1
state 139 {19} <1>
	action center []
		17 : 1
	action up []
		18 : 1
	action right []
		15 : 1
	action left []
		19 : 1
	action down []
		16 : 1
state 140 {29} <1>
	action center []
		22 : 1
	action up []
		23 : 1
	action right []
		20 : 1
	action left []
		24 : 1
	action down []
		21 : 1
state 141 {29} <1>
	action center []
		22 : 1
	action up []
		23 : 1
	action right []
		20 : 1
	action left []
		24 : 1
	action down []
		21 : 1
state 142 {29} <1>
	action center []
		22 : 1
	action up []
		23 : 1
	action right []
		20 : 1
	action left []
		24 : 1
	action down []
		21 : 1
state 143 {29} <1>
	action center []
		22 : 1
	action up []
		23 : 1
	action right []
		20 : 1
	action left []
		24 : 1
	action down []
		21 : 1
state 144 {29} <1>
	action center []
		22 : 1
	action up []
		23 : 1
	action right []
		20 : 1
	action left []
		24 : 1
	action down []
		21 : 1
state 145 {2} <1>
	action center []
		27 : 1
	action up []
		28 : 1
	action right []
		25 : 1
	action left []
		29 : 1
	action down []
		26 : 1
state 146 {2} <1>
	action center []
		27 : 1
	action up []
		28 : 1
	action right []
		25 : 1
	action left []
		29 : 1
	action down []
		26 : 1
state 147 {2} <1>
	action center []
		27 : 1
	action up []
		28 : 1
	action right []
		25 : 1
	action left []
		29 : 1
	action down []
		26 : 1
state 148 {2} <1>
	action center []
		27 : 1
	action up []
		28 : 1
	action right []
		25 : 1
	action left []
		29 : 1
	action down []
		26 : 1
state 149 {2} <1>
	action center []
		27 : 1
	action up []
		28 : 1
	action right []
		25 : 1
	action left []
		29 : 1
	action down []
		26 : 1
state 150 {7} <1>
	action center []
		32 : 1
	action up []
		33 : 1
	action right []
		30 : 1
	action left []
		34 : 1
	action down []
		31 : 1
state 151 {7} <1>
	action center []
		32 : 1
	action up []
		33 : 1
	action right []
		30 : 1
	action left []
		34 : 1
	action down []
		31 : 1
state 152 {7} <1>
	action center []
		32 : 1
	action up []
		33 : 1
	action right []
		30 : 1
	action left []
		34 : 1
	action down []
		31 : 1
state 153 {7} <1>
	action center []
		32 : 1
	action up []
		33 : 1
	action right []
		30 : 1
	action left []
		34 : 1
	action down []
		31 : 1
state 154 {7} <1>
	action center []
		32 : 1
	action up []
		33 : 1
	action right []
		30 : 1
	action left []
		34 : 1
	action down []
		31 : 1
state 155 {18} <1>
	action center []
		37 : 1
	action up []
		38 : 1
	action right []
		35 : 1
	action left []
		39 : 1
	action down []
		36 : 1
state 156 {18} <1>
	action center []
		37 : 1
	action up []
		38 : 1
	action right []
		35 : 1
	action left []
		39 : 1
	action down []
		36 : 1
state 157 {18} <1>
	action center []
		37 : 1
	action up []
		38 : 1
	action right []
		35 : 1
	action left []
		39 : 1
	action down []
		36 : 1
state 158 {18} <1>
	action center []
		37 : 1
	action up []
		38 : 1
	action right []
		35 : 1
	action left []
		39 : 1
	action down []
		36 : 1
state 159 {18} <1>
	action center []
		37 : 1
	action up []
		38 : 1
	action right []
		35 : 1
	action left []
		39 : 1
	action down []
		36 : 1
state 160 {28} <1>
	action center []
		42 : 1
	action up []
		43 : 1
	action right []
		40 : 1
	action left []
		44 : 1
	action down []
		41 : 1
state 161 {28} <1>
	action center []
		42 : 1
	action up []
		43 : 1
	action right []
		40 : 1
	action left []
		44 : 1
	action down []
		41 : 1
state 162 {28} <1>
	action center []
		42 : 1
	action up []
		43 : 1
	action right []
		40 : 1
	action left []
		44 : 1
	action down []
		41 : 1
state 163 {28} <1>
	action center []
		42 : 1
	action up []
		43 : 1
	action right []
		40 : 1
	action left []
		44 : 1
	action down []
		41 : 1
state 164 {28} <1>
	action center []
		42 : 1
	action up []
		43 : 1
	action right []
		40 : 1
	action left []
		44 : 1
	action down []
		41 : 1
state 165 {39} <1>
	action center []
		47 : 1
	action up []
		48 : 1
	action right []
		45 : 1
	action left []
		49 : 1
	action down []
		46 : 1
state 166 {39} <1>
	action center []
		47 : 1
	action up []
		48 : 1
	action right []
		45 : 1
	action left []
		49 : 1
	action down []
		46 : 1
state 167 {39} <1>
	action center []
		47 : 1
	action up []
		48 : 1
	action right []
		45 : 1
	action left []
		49 : 1
	action down []
		46 : 1
state 168 {39} <1>
	action center []
		47 : 1
	action up []
		48 : 1
	action right []
		45 : 1
	action left []
		49 : 1
	action down []
		46 : 1
state 169 {39} <1>
	action center []
		47 : 1
	action up []
		48 : 1
	action right []
		45 : 1
	action left []
		49 : 1
	action down []
		46 : 1
state 170 {6} <1>
	action center []
		52 : 1
	action up []
		53 : 1
	action right []
		50 : 1
	action left []
		54 : 1
	action down []
		51 : 1
state 171 {8} <0> deadlock
	action __NOLABEL__ []
		171 : 1
state 172 {6} <1>
	action center []
		52 : 1
	action up []
		53 : 1
	action right []
		50 : 1
	action left []
		54 : 1
	action down []
		51 : 1
state 173 {6} <1>
	action center []
		52 : 1
	action up []
		53 : 1
	action right []
		50 : 1
	action left []
		54 : 1
	action down []
		51 : 1
state 174 {6} <1>
	action center []
		52 : 1
	action up []
		53 : 1
	action right []
		50 : 1
	action left []
		54 : 1
	action down []
		51 : 1
state 175 {17} <1>
	action center []
		57 : 1
	action up []
		58 : 1
	action right []
		55 : 1
	action left []
		59 : 1
	action down []
		56 : 1
state 176 {17} <1>
	action center []
		57 : 1
	action up []
		58 : 1
	action right []
		55 : 1
	action left []
		59 : 1
	action down []
		56 : 1
state 177 {17} <1>
	action center []
		57 : 1
	action up []
		58 : 1
	action right []
		55 : 1
	action left []
		59 : 1
	action down []
		56 : 1
state 178 {17} <1>
	action center []
		57 : 1
	action up []
		58 : 1
	action right []
		55 : 1
	action left []
		59 : 1
	action down []
		56 : 1
state 179 {17} <1>
	action center []
		57 : 1
	action up []
		58 : 1
	action right []
		55 : 1
	action left []
		59 : 1
	action down []
		56 : 1
state 180 {27} <1>
	action center []
		62 : 1
	action up []
		63 : 1
	action right []
		60 : 1
	action left []
		64 : 1
	action down []
		61 : 1
state 181 {27} <1>
	action center []
		62 : 1
	action up []
		63 : 1
	action right []
		60 : 1
	action left []
		64 : 1
	action down []
		61 : 1
state 182 {26} <0> deadlock
	action __NOLABEL__ []
		182 : 1
state 183 {27} <1>
	action center []
		62 : 1
	action up []
		63 : 1
	action right []
		60 : 1
	action left []
		64 : 1
	action down []
		61 : 1
state 184 {27} <1>
	action center []
		62 : 1
	action up []
		63 : 1
	action right []
		60 : 1
	action left []
		64 : 1
	action down []
		61 : 1
state 185 {38} <1>
	action center []
		67 : 1
	action up []
		68 : 1
	action right []
		65 : 1
	action left []
		69 : 1
	action down []
		66 : 1
state 186 {38} <1>
	action center []
		67 : 1
	action up []
		68 : 1
	action right []
		65 : 1
	action left []
		69 : 1
	action down []
		66 : 1
state 187 {38} <1>
	action center []
		67 : 1
	action up []
		68 : 1
	action right []
		65 : 1
	action left []
		69 : 1
	action down []
		66 : 1
state 188 {38} <1>
	action center []
		67 : 1
	action up []
		68 : 1
	action right []
		65 : 1
	action left []
		69 : 1
	action down []
		66 : 1
state 189 {38} <1>
	action center []
		67 : 1
	action up []
		68 : 1
	action right []
		65 : 1
	action left []
		69 : 1
	action down []
		66 : 1
state 190 {47} <1>
	action center []
		72 : 1
	action up []
		73 : 1
	action right []
		70 : 1
	action left []
		74 : 1
	action down []
		71 : 1
state 191 {47} <1>
	action center []
		72 : 1
	action up []
		73 : 1
	action right []
		70 : 1
	action left []
		74 : 1
	action down []
		71 : 1
state 192 {47} <1>
	action center []
		72 : 1
	action up []
		73 : 1
	action right []
		70 : 1
	action left []
		74 : 1
	action down []
		71 : 1
state 193 {48} <0> deadlock
	action __NOLABEL__ []
		193 : 1
state 194 {47} <1>
	action center []
		72 : 1
	action up []
		73 : 1
	action right []
		70 : 1
	action left []
		74 : 1
	action down []
		71 : 1
state 195 {16} <1>
	action center []
		77 : 1
	action up []
		78 : 1
	action right []
		75 : 1
	action left []
		79 : 1
	action down []
		76 : 1
state 196 {16} <1>
	action center []
		77 : 1
	action up []
		78 : 1
	action right []
		75 : 1
	action left []
		79 : 1
	action down []
		76 : 1
state 197 {16} <1>
	action center []
		77 : 1
	action up []
		78 : 1
	action right []
		75 : 1
	action left []
		79 : 1
	action down []
		76 : 1
state 198 {16} <1>
	action center []
		77 : 1
	action up []
		78 : 1
	action right []
		75 : 1
	action left []
		79 : 1
	action down []
		76 : 1
state 199 {16} <1>
	action center []
		77 : 1
	action up []
		78 : 1
	action right []
		75 : 1
	action left []
		79 : 1
	action down []
		76 : 1
state 200 {25} <1>
	action center []
		82 : 1
	action up []
		83 : 1
	action right []
		80 : 1
	action left []
		84 : 1
	action down []
		81 : 1
state 201 {25} <1>
	action center []
		82 : 1
	action up []
		83 : 1
	action right []
		80 : 1
	action left []
		84 : 1
	action down []
		81 : 1
state 202 {25} <1>
	action center []
		82 : 1
	action up []
		83 : 1
	action right []
		80 : 1
	action left []
		84 : 1
	action down []
		81 : 1
state 203 {25} <1>
	action center []
		82 : 1
	action up []
		83 : 1
	action right []
		80 : 1
	action left []
		84 : 1
	action down []
		81 : 1
state 204 {25} <1>
	action center []
		82 : 1
	action up []
		83 : 1
	action right []
		80 : 1
	action left []
		84 : 1
	action down []
		81 : 1
state 205 {37} <1>
	action center []
		87 : 1
	action up []
		88 : 1
	action right []
		85 : 1
	action left []
		89 : 1
	action down []
		86 : 1
state 206 {37} <1>
	action center []
		87 : 1
	action up []
		88 : 1
	action right []
		85 : 1
	action left []
		89 : 1
	action down []
		86 : 1
state 207 {37} <1>
	action center []
		87 : 1
	action up []
		88 : 1
	action right []
		85 : 1
	action left []
		89 : 1
	action down []
		86 : 1
state 208 {37} <1>
	action center []
		87 : 1
	action up []
		88 : 1
	action right []
		85 : 1
	action left []
		89 : 1
	action down []
		86 : 1
state 209 {37} <1>
	action center []
		87 : 1
	action up []
		88 : 1
	action right []
		85 : 1
	action left []
		89 : 1
	action down []
		86 : 1
state 210 {46} <1>
	action center []
		92 : 1
	action up []
		93 : 1
	action right []
		90 : 1
	action left []
		94 : 1
	action down []
		91 : 1
state 211 {46} <1>
	action center []
		92 : 1
	action up []
		93 : 1
	action right []
		90 : 1
	action left []
		94 : 1
	action down []
		91 : 1
state 212 {46} <1>
	action center []
		92 : 1
	action up []
		93 : 1
	action right []
		90 : 1
	action left []
		94 : 1
	action down []
		91 : 1
state 213 {46} <1>
	action center []
		92 : 1
	action up []
		93 : 1
	action right []
		90 : 1
	action left []
		94 : 1
	action down []
		91 : 1
state 214 {46} <1>
	action center []
		92 : 1
	action up []
		93 : 1
	action right []
		90 : 1
	action left []
		94 : 1
	action down []
		91 : 1
state 215 {55} <1>
	action center []
		97 : 1
	action up []
		98 : 1
	action right []
		95 : 1
	action left []
		99 : 1
	action down []
		96 : 1
state 216 {55} <1>
	action center []
		97 : 1
	action up []
		98 : 1
	action right []
		95 : 1
	action left []
		99 : 1
	action down []
		96 : 1
state 217 {55} <1>
	action center []
		97 : 1
	action up []
		98 : 1
	action right []
		95 : 1
	action left []
		99 : 1
	action down []
		96 : 1
state 218 {55} <1>
	action center []
		97 : 1
	action up []
		98 : 1
	action right []
		95 : 1
	action left []
		99 : 1
	action down []
		96 : 1
state 219 {55} <1>
	action center []
		97 : 1
	action up []
		98 : 1
	action right []
		95 : 1
	action left []
		99 : 1
	action down []
		96 : 1
state 220 {24} <1>
	action center []
		102 : 1
	action up []
		103 : 1
	action right []
		100 : 1
	action left []
		104 : 1
	action down []
		101 : 1
state 221 {24} <1>
	action center []
		102 : 1
	action up []
		103 : 1
	action right []
		100 : 1
	action left []
		104 : 1
	action down []
		101 : 1
state 222 {24} <1>
	action center []
		102 : 1
	action up []
		103 : 1
	action right []
		100 : 1
	action left []
		104 : 1
	action down []
		101 : 1
state 223 {24} <1>
	action center []
		102 : 1
	action up []
		103 : 1
	action right []
		100 : 1
	action left []
		104 : 1
	action down []
		101 : 1
state 224 {24} <1>
	action center []
		102 : 1
	action up []
		103 : 1
	action right []
		100 : 1
	action left []
		104 : 1
	action down []
		101 : 1
state 225 {36} <1>
	action center []
		107 : 1
	action up []
		108 : 1
	action right []
		105 : 1
	action left []
		109 : 1
	action down []
		106 : 1
state 226 {36} <1>
	action center []
		107 : 1
	action up []
		108 : 1
	action right []
		105 : 1
	action left []
		109 : 1
	action down []
		106 : 1
state 227 {36} <1>
	action center []
		107 : 1
	action up []
		108 : 1
	action right []
		105 : 1
	action left []
		109 : 1
	action down []
		106 : 1
state 228 {36} <1>
	action center []
		107 : 1
	action up []
		108 : 1
	action right []
		105 : 1
	action left []
		109 : 1
	action down []
		106 : 1
state 229 {36} <1>
	action center []
		107 : 1
	action up []
		108 : 1
	action right []
		105 : 1
	action left []
		109 : 1
	action down []
		106 : 1
state 230 {44} <1>
	action center []
		112 : 1
	action up []
		113 : 1
	action right []
		110 : 1
	action left []
		114 : 1
	action down []
		111 : 1
state 231 {44} <1>
	action center []
		112 : 1
	action up []
		113 : 1
	action right []
		110 : 1
	action left []
		114 : 1
	action down []
		111 : 1
state 232 {44} <1>
	action center []
		112 : 1
	action up []
		113 : 1
	action right []
		110 : 1
	action left []
		114 : 1
	action down []
		111 : 1
state 233 {44} <1>
	action center []
		112 : 1
	action up []
		113 : 1
	action right []
		110 : 1
	action left []
		114 : 1
	action down []
		111 : 1
state 234 {45} <0> deadlock
	action __NOLABEL__ []
		234 : 1
state 235 {54} <1>
	action center []
		117 : 1
	action up []
		118 : 1
	action right []
		115 : 1
	action left []
		119 : 1
	action down []
		116 : 1
state 236 {54} <1>
	action center []
		117 : 1
	action up []
		118 : 1
	action right []
		115 : 1
	action left []
		119 : 1
	action down []
		116 : 1
state 237 {54} <1>
	action center []
		117 : 1
	action up []
		118 : 1
	action right []
		115 : 1
	action left []
		119 : 1
	action down []
		116 : 1
state 238 {54} <1>
	action center []
		117 : 1
	action up []
		118 : 1
	action right []
		115 : 1
	action left []
		119 : 1
	action down []
		116 : 1
state 239 {54} <1>
	action center []
		117 : 1
	action up []
		118 : 1
	action right []
		115 : 1
	action left []
		119 : 1
	action down []
		116 : 1
state 240 {58} <0> deadlock goal
	action __NOLABEL__ []
		240 : 1
state 241 {58} <0> deadlock goal
	action __NOLABEL__ []
		241 : 1
state 242 {58} <0> deadlock goal
	action __NOLABEL__ []
		242 : 1
state 243 {58} <0> deadlock goal
	action __NOLABEL__ []
		243 : 1
state 244 {58} <0> deadlock goal
	action __NOLABEL__ []
		244 : 1
