dtmc

module exam
    s : [0..4] init 0;
    [] s=0 -> 0.7: (s'=1) + 0.3: (s'=2);
    [] s=1 -> 0.4: (s'=3) + 0.6: (s'=4);
    [] s=2 -> 0.5: (s'=0) + 0.5: (s'=1);
    [] s=3 -> true;
    [] s=4 -> 0.5: true + 0.5: (s'=2);
endmodule

rewards "steps"
    [] true: 1;
endrewards

