// herman's self stabilising algorithm [Her90]
// gxn/dxp 13/07/02

// the procotol is synchronous with no nondeterminism (a DTMC)
dtmc

const int MAXMEM = 1;

const double P_START=0;

module initialise
    start : [0..1] init 0;
    [go] start = 0 -> (start'=1);
    [step1] start = 1 -> true;
endmodule

// full step counter
rewards "steps"
    round = 0 : 1;
endrewards

// label - stable configurations (1 token)
label "stable" = round =1 & num_tokens=1;
