// simple game

smg

player circle
    [c1], [c2]
endplayer

player square
    [s1], [s2]
endplayer

player sink
    state_space
endplayer

module state_space
    s : [0..2];

    [c1] s=0 -> (s'=1);
    [c2] s=0 -> (s'=1);

    [s1] s=1 -> (s'=2);
    [s2] s=1 -> (s'=2);

    []   s=2 -> true;
endmodule

label "goal" = s=2;

rewards "rew"
    [c1] true : 1;
    [c2] true : 2;

    [s1] true : 10;
    [s2] true : 20;
endrewards
