pomdp

formula goal = x=2;

observable "o0" = x=0 | x=1;
observable "goal" = goal;

module test

    x : [0..2] init 0;


    [a]   x=0 -> 0.5: (x'=0) + 0.5: (x'=1);
    [b]   x=0 -> 1: (x'=2);
    [a]   x=1 -> 1: (x'=1);
    [b]   x=1 -> 1: (x'=2);

    []    x=2 -> 1: (x'=2);


endmodule

rewards "penalty"
    [b] x=0 : 1;
endrewards