@type: POMDP
@parameters

@reward_models

@nr_states
3
@nr_choices
4
@model
state 0 {0} init
	action 0
		1 : [0.2, 0.7]
		2 : [0.3, 0.8]
    action 1
        1 : 0.1
        2 : 0.9
state 1 {1} target
	action 0
		1 : 1
state 2 {2}
	action 0
		2 : [1, 1]