pomdp

hole int h in {0, 1};

formula goal = s=6;

observable "finished" = goal;

label "goal" = goal;

module state_space
    s : [0..6] init 0;

    [a] s=0 -> 1-h : (s'=1) + h : (s'=2);

    [a] s=1 -> 1 : (s'=3);
    [a] s=2 -> 1 : (s'=3);

    [a] s=3 -> h : (s'=4) + 1-h : (s'=5);

    [a] s=4 -> 1 : (s'=6);
    [a] s=5 -> 1 : (s'=6);

    []  s=6 -> true;
endmodule

rewards "rew"
    [a] s=1 : 100;
    [a] s=2 : 50;

    [a] s=4 : 120;
    [a] s=5 : 50;
endrewards