dtmc

const int X;
const int Y;

const int CMAX;
const double THRESHOLD;

module m

	state: [0..4] init 0;
	
    [] state = 0 -> 1: (state'=X);
    [] state = 1 -> 0.6: (state'=3) + 0.2: (state'=Y) + 0.2: (state'=4);
    [] state = 2 -> 0.2: (state'=3) + 0.2: (state'=Y) + 0.6: (state'=4);
    [] state = 3 -> true;
    [] state = 4 -> true;

endmodule