mdp

module m
    s : [0..3] init 0;
    
    [up]     s=0 -> (s'=1);
    [down]   s=0 -> (s'=2);
    
    [up]     s=1 -> true;
    [down]   s=1 -> (s'=3);

endmodule

formula target = s=3;

rewards "steps"
    true : 1;
endrewards
