// DOES NOT WORK AS INTENDED

// pomdp quotient: s=3, ch=9
// smg abstraction: s=6, ch=2, wrong rewards!!!

pomdp

hole int h1 in {2, 200};
hole int h2 in {1, 100};

formula goal = s=2;

observable "finished" = goal;

label "goal" = goal;

module state_space
    s : [0..2] init 0;

    [a] s=0 -> 1 : (s'=1);
    [a] s=1 -> 1 : (s'=2);
    []  s=2 -> true;
endmodule

rewards "rew"
    [a] s=0 : h1;
    [a] s=1 : h2;
endrewards