// Exported by prism
// Original model type: POSMG
@type: POSMG
@parameters

@reward_models

@nr_states
172
@nr_choices
552
@model
state 0 {21} <1>
	action aup []
		81 : 0.8
		84 : 0.2
	action adown []
		80 : 0.8
		84 : 0.2
	action aright []
		80 : 0.2
		84 : 0.8
	action astay []
		80 : 1
state 1 {21} <1>
	action aup []
		82 : 0.8
		85 : 0.2
	action adown []
		80 : 0.8
		85 : 0.2
	action aright []
		80 : 0.2
		85 : 0.8
	action astay []
		81 : 1
state 2 {21} <1>
	action aup []
		83 : 0.8
		86 : 0.2
	action adown []
		81 : 0.8
		86 : 0.2
	action aright []
		81 : 0.2
		86 : 0.8
	action astay []
		82 : 1
state 3 {21} <1>
	action aup []
		83 : 0.8
		87 : 0.2
	action adown []
		82 : 0.8
		87 : 0.2
	action aright []
		82 : 0.2
		87 : 0.8
	action astay []
		83 : 1
state 4 {26} <1>
	action aup []
		85 : 0.8
		88 : 0.2
	action adown []
		84 : 0.8
		88 : 0.2
	action aright []
		84 : 0.2
		88 : 0.8
	action astay []
		84 : 1
state 5 {27} <1>
	action aup []
		86 : 0.8
		89 : 0.2
	action adown []
		84 : 0.8
		89 : 0.2
	action aright []
		84 : 0.2
		89 : 0.8
	action astay []
		85 : 1
state 6 {22} <1>
	action aup []
		87 : 0.8
		90 : 0.2
	action adown []
		85 : 0.8
		90 : 0.2
	action aright []
		85 : 0.2
		90 : 0.8
	action astay []
		86 : 1
state 7 {39} <1>
	action aup []
		87 : 0.8
		91 : 0.2
	action adown []
		86 : 0.8
		91 : 0.2
	action aright []
		86 : 0.2
		91 : 0.8
	action astay []
		87 : 1
state 8 {21} <1>
	action aup []
		89 : 0.8
		92 : 0.2
	action adown []
		88 : 0.8
		92 : 0.2
	action aright []
		88 : 0.2
		92 : 0.8
	action astay []
		88 : 1
state 9 {21} <1>
	action aup []
		90 : 0.8
		93 : 0.2
	action adown []
		88 : 0.8
		93 : 0.2
	action aright []
		88 : 0.2
		93 : 0.8
	action astay []
		89 : 1
state 10 {21} <1>
	action aup []
		91 : 0.8
		94 : 0.2
	action adown []
		89 : 0.8
		94 : 0.2
	action aright []
		89 : 0.2
		94 : 0.8
	action astay []
		90 : 1
state 11 {21} <1>
	action aup []
		91 : 0.8
		95 : 0.2
	action adown []
		90 : 0.8
		95 : 0.2
	action aright []
		90 : 0.2
		95 : 0.8
	action astay []
		91 : 1
state 12 {21} <1>
	action aup []
		93 : 0.8
		96 : 0.2
	action adown []
		92 : 0.8
		96 : 0.2
	action aright []
		92 : 0.2
		96 : 0.8
	action astay []
		92 : 1
state 13 {21} <1>
	action aup []
		94 : 0.8
		97 : 0.2
	action adown []
		92 : 0.8
		97 : 0.2
	action aright []
		92 : 0.2
		97 : 0.8
	action astay []
		93 : 1
state 14 {21} <1>
	action aup []
		95 : 0.8
		98 : 0.2
	action adown []
		93 : 0.8
		98 : 0.2
	action aright []
		93 : 0.2
		98 : 0.8
	action astay []
		94 : 1
state 15 {21} <1>
	action aup []
		95 : 0.8
		99 : 0.2
	action adown []
		94 : 0.8
		99 : 0.2
	action aright []
		94 : 0.2
		99 : 0.8
	action astay []
		95 : 1
state 16 {46} <0> deadlock
	action __NOLABEL__ []
		16 : 1
state 17 {21} <1>
	action aup []
		98 : 0.8
		100 : 0.2
	action adown []
		96 : 0.8
		100 : 0.2
	action aright []
		96 : 0.2
		100 : 0.8
	action astay []
		97 : 1
state 18 {21} <1>
	action aup []
		99 : 0.8
		101 : 0.2
	action adown []
		97 : 0.8
		101 : 0.2
	action aright []
		97 : 0.2
		101 : 0.8
	action astay []
		98 : 1
state 19 {21} <1>
	action aup []
		99 : 0.8
		102 : 0.2
	action adown []
		98 : 0.8
		102 : 0.2
	action aright []
		98 : 0.2
		102 : 0.8
	action astay []
		99 : 1
state 20 {4} <1>
	action aup []
		104 : 0.8
		107 : 0.2
	action adown []
		103 : 0.8
		107 : 0.2
	action aright []
		103 : 0.2
		107 : 0.8
	action astay []
		103 : 1
state 21 {4} <1>
	action aup []
		105 : 0.8
		108 : 0.2
	action adown []
		103 : 0.8
		108 : 0.2
	action aright []
		103 : 0.2
		108 : 0.8
	action astay []
		104 : 1
state 22 {4} <1>
	action aup []
		106 : 0.8
		109 : 0.2
	action adown []
		104 : 0.8
		109 : 0.2
	action aright []
		104 : 0.2
		109 : 0.8
	action astay []
		105 : 1
state 23 {4} <1>
	action aup []
		106 : 0.8
		110 : 0.2
	action adown []
		105 : 0.8
		110 : 0.2
	action aright []
		105 : 0.2
		110 : 0.8
	action astay []
		106 : 1
state 24 {25} <1>
	action aup []
		108 : 0.8
		111 : 0.2
	action adown []
		107 : 0.8
		111 : 0.2
	action aright []
		107 : 0.2
		111 : 0.8
	action astay []
		107 : 1
state 25 {7} <1>
	action aup []
		109 : 0.8
		112 : 0.2
	action adown []
		107 : 0.8
		112 : 0.2
	action aright []
		107 : 0.2
		112 : 0.8
	action astay []
		108 : 1
state 26 {20} <1>
	action aup []
		110 : 0.8
		113 : 0.2
	action adown []
		108 : 0.8
		113 : 0.2
	action aright []
		108 : 0.2
		113 : 0.8
	action astay []
		109 : 1
state 27 {38} <1>
	action aup []
		110 : 0.8
		114 : 0.2
	action adown []
		109 : 0.8
		114 : 0.2
	action aright []
		109 : 0.2
		114 : 0.8
	action astay []
		110 : 1
state 28 {4} <1>
	action aup []
		112 : 0.8
		115 : 0.2
	action adown []
		111 : 0.8
		115 : 0.2
	action aright []
		111 : 0.2
		115 : 0.8
	action astay []
		111 : 1
state 29 {4} <1>
	action aup []
		113 : 0.8
		116 : 0.2
	action adown []
		111 : 0.8
		116 : 0.2
	action aright []
		111 : 0.2
		116 : 0.8
	action astay []
		112 : 1
state 30 {4} <1>
	action aup []
		114 : 0.8
		117 : 0.2
	action adown []
		112 : 0.8
		117 : 0.2
	action aright []
		112 : 0.2
		117 : 0.8
	action astay []
		113 : 1
state 31 {4} <1>
	action aup []
		114 : 0.8
		118 : 0.2
	action adown []
		113 : 0.8
		118 : 0.2
	action aright []
		113 : 0.2
		118 : 0.8
	action astay []
		114 : 1
state 32 {4} <1>
	action aup []
		116 : 0.8
		119 : 0.2
	action adown []
		115 : 0.8
		119 : 0.2
	action aright []
		115 : 0.2
		119 : 0.8
	action astay []
		115 : 1
state 33 {4} <1>
	action aup []
		117 : 0.8
		120 : 0.2
	action adown []
		115 : 0.8
		120 : 0.2
	action aright []
		115 : 0.2
		120 : 0.8
	action astay []
		116 : 1
state 34 {4} <1>
	action aup []
		118 : 0.8
		121 : 0.2
	action adown []
		116 : 0.8
		121 : 0.2
	action aright []
		116 : 0.2
		121 : 0.8
	action astay []
		117 : 1
state 35 {4} <1>
	action aup []
		118 : 0.8
		122 : 0.2
	action adown []
		117 : 0.8
		122 : 0.2
	action aright []
		117 : 0.2
		122 : 0.8
	action astay []
		118 : 1
state 36 {4} <1>
	action aup []
		120 : 0.8
		123 : 0.2
	action adown []
		119 : 0.8
		123 : 0.2
	action aright []
		119 : 0.2
		123 : 0.8
	action astay []
		119 : 1
state 37 {41} <0> deadlock
	action __NOLABEL__ []
		37 : 1
state 38 {4} <1>
	action aup []
		122 : 0.8
		124 : 0.2
	action adown []
		120 : 0.8
		124 : 0.2
	action aright []
		120 : 0.2
		124 : 0.8
	action astay []
		121 : 1
state 39 {4} <1>
	action aup []
		122 : 0.8
		125 : 0.2
	action adown []
		121 : 0.8
		125 : 0.2
	action aright []
		121 : 0.2
		125 : 0.8
	action astay []
		122 : 1
state 40 {0} <1>
	action aup []
		127 : 0.8
		130 : 0.2
	action adown []
		126 : 0.8
		130 : 0.2
	action aright []
		126 : 0.2
		130 : 0.8
	action astay []
		126 : 1
state 41 {0} <1> init
	action aup []
		128 : 0.8
		131 : 0.2
	action adown []
		126 : 0.8
		131 : 0.2
	action aright []
		126 : 0.2
		131 : 0.8
	action astay []
		127 : 1
state 42 {0} <1>
	action aup []
		129 : 0.8
		132 : 0.2
	action adown []
		127 : 0.8
		132 : 0.2
	action aright []
		127 : 0.2
		132 : 0.8
	action astay []
		128 : 1
state 43 {0} <1>
	action aup []
		129 : 0.8
		133 : 0.2
	action adown []
		128 : 0.8
		133 : 0.2
	action aright []
		128 : 0.2
		133 : 0.8
	action astay []
		129 : 1
state 44 {24} <1>
	action aup []
		131 : 0.8
		134 : 0.2
	action adown []
		130 : 0.8
		134 : 0.2
	action aright []
		130 : 0.2
		134 : 0.8
	action astay []
		130 : 1
state 45 {6} <1>
	action aup []
		132 : 0.8
		135 : 0.2
	action adown []
		130 : 0.8
		135 : 0.2
	action aright []
		130 : 0.2
		135 : 0.8
	action astay []
		131 : 1
state 46 {19} <1>
	action aup []
		133 : 0.8
		136 : 0.2
	action adown []
		131 : 0.8
		136 : 0.2
	action aright []
		131 : 0.2
		136 : 0.8
	action astay []
		132 : 1
state 47 {37} <1>
	action aup []
		133 : 0.8
		137 : 0.2
	action adown []
		132 : 0.8
		137 : 0.2
	action aright []
		132 : 0.2
		137 : 0.8
	action astay []
		133 : 1
state 48 {0} <1>
	action aup []
		135 : 0.8
		138 : 0.2
	action adown []
		134 : 0.8
		138 : 0.2
	action aright []
		134 : 0.2
		138 : 0.8
	action astay []
		134 : 1
state 49 {0} <1>
	action aup []
		136 : 0.8
		139 : 0.2
	action adown []
		134 : 0.8
		139 : 0.2
	action aright []
		134 : 0.2
		139 : 0.8
	action astay []
		135 : 1
state 50 {0} <1>
	action aup []
		137 : 0.8
		140 : 0.2
	action adown []
		135 : 0.8
		140 : 0.2
	action aright []
		135 : 0.2
		140 : 0.8
	action astay []
		136 : 1
state 51 {0} <1>
	action aup []
		137 : 0.8
		141 : 0.2
	action adown []
		136 : 0.8
		141 : 0.2
	action aright []
		136 : 0.2
		141 : 0.8
	action astay []
		137 : 1
state 52 {0} <1>
	action aup []
		139 : 0.8
		142 : 0.2
	action adown []
		138 : 0.8
		142 : 0.2
	action aright []
		138 : 0.2
		142 : 0.8
	action astay []
		138 : 1
state 53 {0} <1>
	action aup []
		140 : 0.8
		143 : 0.2
	action adown []
		138 : 0.8
		143 : 0.2
	action aright []
		138 : 0.2
		143 : 0.8
	action astay []
		139 : 1
state 54 {0} <1>
	action aup []
		141 : 0.8
		144 : 0.2
	action adown []
		139 : 0.8
		144 : 0.2
	action aright []
		139 : 0.2
		144 : 0.8
	action astay []
		140 : 1
state 55 {0} <1>
	action aup []
		141 : 0.8
		145 : 0.2
	action adown []
		140 : 0.8
		145 : 0.2
	action aright []
		140 : 0.2
		145 : 0.8
	action astay []
		141 : 1
state 56 {0} <1>
	action aup []
		143 : 0.8
		146 : 0.2
	action adown []
		142 : 0.8
		146 : 0.2
	action aright []
		142 : 0.2
		146 : 0.8
	action astay []
		142 : 1
state 57 {0} <1>
	action aup []
		144 : 0.8
		147 : 0.2
	action adown []
		142 : 0.8
		147 : 0.2
	action aright []
		142 : 0.2
		147 : 0.8
	action astay []
		143 : 1
state 58 {45} <0> deadlock
	action __NOLABEL__ []
		58 : 1
state 59 {0} <1>
	action aup []
		145 : 0.8
		148 : 0.2
	action adown []
		144 : 0.8
		148 : 0.2
	action aright []
		144 : 0.2
		148 : 0.8
	action astay []
		145 : 1
state 60 {3} <1>
	action aup []
		150 : 0.8
		153 : 0.2
	action adown []
		149 : 0.8
		153 : 0.2
	action aright []
		149 : 0.2
		153 : 0.8
	action astay []
		149 : 1
state 61 {3} <1>
	action aup []
		151 : 0.8
		154 : 0.2
	action adown []
		149 : 0.8
		154 : 0.2
	action aright []
		149 : 0.2
		154 : 0.8
	action astay []
		150 : 1
state 62 {3} <1>
	action aup []
		152 : 0.8
		155 : 0.2
	action adown []
		150 : 0.8
		155 : 0.2
	action aright []
		150 : 0.2
		155 : 0.8
	action astay []
		151 : 1
state 63 {3} <1>
	action aup []
		152 : 0.8
		156 : 0.2
	action adown []
		151 : 0.8
		156 : 0.2
	action aright []
		151 : 0.2
		156 : 0.8
	action astay []
		152 : 1
state 64 {23} <1>
	action aup []
		154 : 0.8
		157 : 0.2
	action adown []
		153 : 0.8
		157 : 0.2
	action aright []
		153 : 0.2
		157 : 0.8
	action astay []
		153 : 1
state 65 {5} <1>
	action aup []
		155 : 0.8
		158 : 0.2
	action adown []
		153 : 0.8
		158 : 0.2
	action aright []
		153 : 0.2
		158 : 0.8
	action astay []
		154 : 1
state 66 {18} <1>
	action aup []
		156 : 0.8
		159 : 0.2
	action adown []
		154 : 0.8
		159 : 0.2
	action aright []
		154 : 0.2
		159 : 0.8
	action astay []
		155 : 1
state 67 {36} <1>
	action aup []
		156 : 0.8
		160 : 0.2
	action adown []
		155 : 0.8
		160 : 0.2
	action aright []
		155 : 0.2
		160 : 0.8
	action astay []
		156 : 1
state 68 {3} <1>
	action aup []
		158 : 0.8
		161 : 0.2
	action adown []
		157 : 0.8
		161 : 0.2
	action aright []
		157 : 0.2
		161 : 0.8
	action astay []
		157 : 1
state 69 {3} <1>
	action aup []
		159 : 0.8
		162 : 0.2
	action adown []
		157 : 0.8
		162 : 0.2
	action aright []
		157 : 0.2
		162 : 0.8
	action astay []
		158 : 1
state 70 {3} <1>
	action aup []
		160 : 0.8
		163 : 0.2
	action adown []
		158 : 0.8
		163 : 0.2
	action aright []
		158 : 0.2
		163 : 0.8
	action astay []
		159 : 1
state 71 {3} <1>
	action aup []
		160 : 0.8
		164 : 0.2
	action adown []
		159 : 0.8
		164 : 0.2
	action aright []
		159 : 0.2
		164 : 0.8
	action astay []
		160 : 1
state 72 {3} <1>
	action aup []
		162 : 0.8
		165 : 0.2
	action adown []
		161 : 0.8
		165 : 0.2
	action aright []
		161 : 0.2
		165 : 0.8
	action astay []
		161 : 1
state 73 {3} <1>
	action aup []
		163 : 0.8
		166 : 0.2
	action adown []
		161 : 0.8
		166 : 0.2
	action aright []
		161 : 0.2
		166 : 0.8
	action astay []
		162 : 1
state 74 {3} <1>
	action aup []
		164 : 0.8
		167 : 0.2
	action adown []
		162 : 0.8
		167 : 0.2
	action aright []
		162 : 0.2
		167 : 0.8
	action astay []
		163 : 1
state 75 {3} <1>
	action aup []
		164 : 0.8
		168 : 0.2
	action adown []
		163 : 0.8
		168 : 0.2
	action aright []
		163 : 0.2
		168 : 0.8
	action astay []
		164 : 1
state 76 {3} <1>
	action aup []
		166 : 0.8
		169 : 0.2
	action adown []
		165 : 0.8
		169 : 0.2
	action aright []
		165 : 0.2
		169 : 0.8
	action astay []
		165 : 1
state 77 {3} <1>
	action aup []
		167 : 0.8
		170 : 0.2
	action adown []
		165 : 0.8
		170 : 0.2
	action aright []
		165 : 0.2
		170 : 0.8
	action astay []
		166 : 1
state 78 {3} <1>
	action aup []
		168 : 0.8
		171 : 0.2
	action adown []
		166 : 0.8
		171 : 0.2
	action aright []
		166 : 0.2
		171 : 0.8
	action astay []
		167 : 1
state 79 {47} <0> deadlock
	action __NOLABEL__ []
		79 : 1
state 80 {31} <0>
	action dup []
		0 : 0.2
		20 : 0.8
	action ddown []
		0 : 1
	action dstay []
		0 : 1
state 81 {31} <0>
	action dup []
		1 : 0.2
		21 : 0.8
	action ddown []
		1 : 1
	action dstay []
		1 : 1
state 82 {31} <0>
	action dup []
		2 : 0.2
		22 : 0.8
	action ddown []
		2 : 1
	action dstay []
		2 : 1
state 83 {31} <0>
	action dup []
		3 : 0.2
		23 : 0.8
	action ddown []
		3 : 1
	action dstay []
		3 : 1
state 84 {35} <0>
	action dup []
		4 : 0.2
		24 : 0.8
	action ddown []
		4 : 1
	action dstay []
		4 : 1
state 85 {33} <0>
	action dup []
		5 : 0.2
		25 : 0.8
	action ddown []
		5 : 1
	action dstay []
		5 : 1
state 86 {34} <0>
	action dup []
		6 : 0.2
		26 : 0.8
	action ddown []
		6 : 1
	action dstay []
		6 : 1
state 87 {32} <0>
	action dup []
		7 : 0.2
		27 : 0.8
	action ddown []
		7 : 1
	action dstay []
		7 : 1
state 88 {31} <0>
	action dup []
		8 : 0.2
		28 : 0.8
	action ddown []
		8 : 1
	action dstay []
		8 : 1
state 89 {31} <0>
	action dup []
		9 : 0.2
		29 : 0.8
	action ddown []
		9 : 1
	action dstay []
		9 : 1
state 90 {31} <0>
	action dup []
		10 : 0.2
		30 : 0.8
	action ddown []
		10 : 1
	action dstay []
		10 : 1
state 91 {31} <0>
	action dup []
		11 : 0.2
		31 : 0.8
	action ddown []
		11 : 1
	action dstay []
		11 : 1
state 92 {31} <0>
	action dup []
		12 : 0.2
		32 : 0.8
	action ddown []
		12 : 1
	action dstay []
		12 : 1
state 93 {31} <0>
	action dup []
		13 : 0.2
		33 : 0.8
	action ddown []
		13 : 1
	action dstay []
		13 : 1
state 94 {31} <0>
	action dup []
		14 : 0.2
		34 : 0.8
	action ddown []
		14 : 1
	action dstay []
		14 : 1
state 95 {31} <0>
	action dup []
		15 : 0.2
		35 : 0.8
	action ddown []
		15 : 1
	action dstay []
		15 : 1
state 96 {44} <0> deadlock
	action __NOLABEL__ []
		96 : 1
state 97 {31} <0>
	action dup []
		17 : 0.2
		37 : 0.8
	action ddown []
		17 : 1
	action dstay []
		17 : 1
state 98 {31} <0>
	action dup []
		18 : 0.2
		38 : 0.8
	action ddown []
		18 : 1
	action dstay []
		18 : 1
state 99 {31} <0>
	action dup []
		19 : 0.2
		39 : 0.8
	action ddown []
		19 : 1
	action dstay []
		19 : 1
state 100 {44} <0> deadlock goal
	action __NOLABEL__ []
		100 : 1
state 101 {44} <0> deadlock goal
	action __NOLABEL__ []
		101 : 1
state 102 {44} <0> deadlock goal
	action __NOLABEL__ []
		102 : 1
state 103 {11} <0>
	action dup []
		20 : 0.2
		40 : 0.8
	action ddown []
		0 : 0.8
		20 : 0.2
	action dstay []
		20 : 1
state 104 {11} <0>
	action dup []
		21 : 0.2
		41 : 0.8
	action ddown []
		1 : 0.8
		21 : 0.2
	action dstay []
		21 : 1
state 105 {11} <0>
	action dup []
		22 : 0.2
		42 : 0.8
	action ddown []
		2 : 0.8
		22 : 0.2
	action dstay []
		22 : 1
state 106 {11} <0>
	action dup []
		23 : 0.2
		43 : 0.8
	action ddown []
		3 : 0.8
		23 : 0.2
	action dstay []
		23 : 1
state 107 {16} <0>
	action dup []
		24 : 0.2
		44 : 0.8
	action ddown []
		4 : 0.8
		24 : 0.2
	action dstay []
		24 : 1
state 108 {17} <0>
	action dup []
		25 : 0.2
		45 : 0.8
	action ddown []
		5 : 0.8
		25 : 0.2
	action dstay []
		25 : 1
state 109 {12} <0>
	action dup []
		26 : 0.2
		46 : 0.8
	action ddown []
		6 : 0.8
		26 : 0.2
	action dstay []
		26 : 1
state 110 {30} <0>
	action dup []
		27 : 0.2
		47 : 0.8
	action ddown []
		7 : 0.8
		27 : 0.2
	action dstay []
		27 : 1
state 111 {11} <0>
	action dup []
		28 : 0.2
		48 : 0.8
	action ddown []
		8 : 0.8
		28 : 0.2
	action dstay []
		28 : 1
state 112 {11} <0>
	action dup []
		29 : 0.2
		49 : 0.8
	action ddown []
		9 : 0.8
		29 : 0.2
	action dstay []
		29 : 1
state 113 {11} <0>
	action dup []
		30 : 0.2
		50 : 0.8
	action ddown []
		10 : 0.8
		30 : 0.2
	action dstay []
		30 : 1
state 114 {11} <0>
	action dup []
		31 : 0.2
		51 : 0.8
	action ddown []
		11 : 0.8
		31 : 0.2
	action dstay []
		31 : 1
state 115 {11} <0>
	action dup []
		32 : 0.2
		52 : 0.8
	action ddown []
		12 : 0.8
		32 : 0.2
	action dstay []
		32 : 1
state 116 {11} <0>
	action dup []
		33 : 0.2
		53 : 0.8
	action ddown []
		13 : 0.8
		33 : 0.2
	action dstay []
		33 : 1
state 117 {11} <0>
	action dup []
		34 : 0.2
		54 : 0.8
	action ddown []
		14 : 0.8
		34 : 0.2
	action dstay []
		34 : 1
state 118 {11} <0>
	action dup []
		35 : 0.2
		55 : 0.8
	action ddown []
		15 : 0.8
		35 : 0.2
	action dstay []
		35 : 1
state 119 {11} <0>
	action dup []
		36 : 0.2
		56 : 0.8
	action ddown []
		16 : 0.8
		36 : 0.2
	action dstay []
		36 : 1
state 120 {40} <0> deadlock
	action __NOLABEL__ []
		120 : 1
state 121 {11} <0>
	action dup []
		38 : 0.2
		58 : 0.8
	action ddown []
		18 : 0.8
		38 : 0.2
	action dstay []
		38 : 1
state 122 {11} <0>
	action dup []
		39 : 0.2
		59 : 0.8
	action ddown []
		19 : 0.8
		39 : 0.2
	action dstay []
		39 : 1
state 123 {40} <0> deadlock goal
	action __NOLABEL__ []
		123 : 1
state 124 {40} <0> deadlock goal
	action __NOLABEL__ []
		124 : 1
state 125 {40} <0> deadlock goal
	action __NOLABEL__ []
		125 : 1
state 126 {1} <0>
	action dup []
		40 : 0.2
		60 : 0.8
	action ddown []
		20 : 0.8
		40 : 0.2
	action dstay []
		40 : 1
state 127 {1} <0>
	action dup []
		41 : 0.2
		61 : 0.8
	action ddown []
		21 : 0.8
		41 : 0.2
	action dstay []
		41 : 1
state 128 {1} <0>
	action dup []
		42 : 0.2
		62 : 0.8
	action ddown []
		22 : 0.8
		42 : 0.2
	action dstay []
		42 : 1
state 129 {1} <0>
	action dup []
		43 : 0.2
		63 : 0.8
	action ddown []
		23 : 0.8
		43 : 0.2
	action dstay []
		43 : 1
state 130 {15} <0>
	action dup []
		44 : 0.2
		64 : 0.8
	action ddown []
		24 : 0.8
		44 : 0.2
	action dstay []
		44 : 1
state 131 {2} <0>
	action dup []
		45 : 0.2
		65 : 0.8
	action ddown []
		25 : 0.8
		45 : 0.2
	action dstay []
		45 : 1
state 132 {10} <0>
	action dup []
		46 : 0.2
		66 : 0.8
	action ddown []
		26 : 0.8
		46 : 0.2
	action dstay []
		46 : 1
state 133 {29} <0>
	action dup []
		47 : 0.2
		67 : 0.8
	action ddown []
		27 : 0.8
		47 : 0.2
	action dstay []
		47 : 1
state 134 {1} <0>
	action dup []
		48 : 0.2
		68 : 0.8
	action ddown []
		28 : 0.8
		48 : 0.2
	action dstay []
		48 : 1
state 135 {1} <0>
	action dup []
		49 : 0.2
		69 : 0.8
	action ddown []
		29 : 0.8
		49 : 0.2
	action dstay []
		49 : 1
state 136 {1} <0>
	action dup []
		50 : 0.2
		70 : 0.8
	action ddown []
		30 : 0.8
		50 : 0.2
	action dstay []
		50 : 1
state 137 {1} <0>
	action dup []
		51 : 0.2
		71 : 0.8
	action ddown []
		31 : 0.8
		51 : 0.2
	action dstay []
		51 : 1
state 138 {1} <0>
	action dup []
		52 : 0.2
		72 : 0.8
	action ddown []
		32 : 0.8
		52 : 0.2
	action dstay []
		52 : 1
state 139 {1} <0>
	action dup []
		53 : 0.2
		73 : 0.8
	action ddown []
		33 : 0.8
		53 : 0.2
	action dstay []
		53 : 1
state 140 {1} <0>
	action dup []
		54 : 0.2
		74 : 0.8
	action ddown []
		34 : 0.8
		54 : 0.2
	action dstay []
		54 : 1
state 141 {1} <0>
	action dup []
		55 : 0.2
		75 : 0.8
	action ddown []
		35 : 0.8
		55 : 0.2
	action dstay []
		55 : 1
state 142 {1} <0>
	action dup []
		56 : 0.2
		76 : 0.8
	action ddown []
		36 : 0.8
		56 : 0.2
	action dstay []
		56 : 1
state 143 {1} <0>
	action dup []
		57 : 0.2
		77 : 0.8
	action ddown []
		37 : 0.8
		57 : 0.2
	action dstay []
		57 : 1
state 144 {42} <0> deadlock
	action __NOLABEL__ []
		144 : 1
state 145 {1} <0>
	action dup []
		59 : 0.2
		79 : 0.8
	action ddown []
		39 : 0.8
		59 : 0.2
	action dstay []
		59 : 1
state 146 {42} <0> deadlock goal
	action __NOLABEL__ []
		146 : 1
state 147 {42} <0> deadlock goal
	action __NOLABEL__ []
		147 : 1
state 148 {42} <0> deadlock goal
	action __NOLABEL__ []
		148 : 1
state 149 {8} <0>
	action dup []
		60 : 1
	action ddown []
		40 : 0.8
		60 : 0.2
	action dstay []
		60 : 1
state 150 {8} <0>
	action dup []
		61 : 1
	action ddown []
		41 : 0.8
		61 : 0.2
	action dstay []
		61 : 1
state 151 {8} <0>
	action dup []
		62 : 1
	action ddown []
		42 : 0.8
		62 : 0.2
	action dstay []
		62 : 1
state 152 {8} <0>
	action dup []
		63 : 1
	action ddown []
		43 : 0.8
		63 : 0.2
	action dstay []
		63 : 1
state 153 {13} <0>
	action dup []
		64 : 1
	action ddown []
		44 : 0.8
		64 : 0.2
	action dstay []
		64 : 1
state 154 {14} <0>
	action dup []
		65 : 1
	action ddown []
		45 : 0.8
		65 : 0.2
	action dstay []
		65 : 1
state 155 {9} <0>
	action dup []
		66 : 1
	action ddown []
		46 : 0.8
		66 : 0.2
	action dstay []
		66 : 1
state 156 {28} <0>
	action dup []
		67 : 1
	action ddown []
		47 : 0.8
		67 : 0.2
	action dstay []
		67 : 1
state 157 {8} <0>
	action dup []
		68 : 1
	action ddown []
		48 : 0.8
		68 : 0.2
	action dstay []
		68 : 1
state 158 {8} <0>
	action dup []
		69 : 1
	action ddown []
		49 : 0.8
		69 : 0.2
	action dstay []
		69 : 1
state 159 {8} <0>
	action dup []
		70 : 1
	action ddown []
		50 : 0.8
		70 : 0.2
	action dstay []
		70 : 1
state 160 {8} <0>
	action dup []
		71 : 1
	action ddown []
		51 : 0.8
		71 : 0.2
	action dstay []
		71 : 1
state 161 {8} <0>
	action dup []
		72 : 1
	action ddown []
		52 : 0.8
		72 : 0.2
	action dstay []
		72 : 1
state 162 {8} <0>
	action dup []
		73 : 1
	action ddown []
		53 : 0.8
		73 : 0.2
	action dstay []
		73 : 1
state 163 {8} <0>
	action dup []
		74 : 1
	action ddown []
		54 : 0.8
		74 : 0.2
	action dstay []
		74 : 1
state 164 {8} <0>
	action dup []
		75 : 1
	action ddown []
		55 : 0.8
		75 : 0.2
	action dstay []
		75 : 1
state 165 {8} <0>
	action dup []
		76 : 1
	action ddown []
		56 : 0.8
		76 : 0.2
	action dstay []
		76 : 1
state 166 {8} <0>
	action dup []
		77 : 1
	action ddown []
		57 : 0.8
		77 : 0.2
	action dstay []
		77 : 1
state 167 {8} <0>
	action dup []
		78 : 1
	action ddown []
		58 : 0.8
		78 : 0.2
	action dstay []
		78 : 1
state 168 {43} <0> deadlock
	action __NOLABEL__ []
		168 : 1
state 169 {43} <0> deadlock goal
	action __NOLABEL__ []
		169 : 1
state 170 {43} <0> deadlock goal
	action __NOLABEL__ []
		170 : 1
state 171 {43} <0> deadlock goal
	action __NOLABEL__ []
		171 : 1
